<main ng-controller="AppCtrl">
    <div ng-include src="'assets/tpl/partials/sidebar.html'"></div>
    <div class="main-container">
        <div class="main-content"
             style="padding-top: 0"
             autoscroll="true" bs-affix-target init-ripples>

            <!-- PAGE CONTENT -->

            <div class="p-20 clearfix">
                <h4 class="grey-text">
                    <i class="md md-dashboard"></i>
                    <span class="hidden-xs">Participantes</span>
                </h4>
                <p>Clique em um dos nomes para mais informações, como
                    <strong>Nome</strong>, <strong>Proposta</strong>, etc.
                </p>

                <input type="text" ng-model="model.search"
                       placeholder="Buscar" class="form-control" />
            </div>

            <div class="text-center" ng-if="! items.length > 0">
                <span class="md-autorenew md-spin"></span>
            </div>

            <h3 class="text-center" ng-if="items.length > 0">{{items.length}}
                <span ng-if="items.length == 1">Proposta</span>
                <span ng-if="items.length > 1">Propostas</span>
            </h3>

            <table class="table table-hover table-full-small" ng-if="items.length > 0">
                <colgroup>
                    <col class="auto-cell-size p-r-20">
                </colgroup>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                </tr>
                </thead>
                <tbody>
                <tr
                        ng-click="getUser(item)"
                        ng-repeat="item in items | filter : model.search">
                    <td>{{item.propost.name}}</td>
                    <td>{{item.propost.emal}}</td>
                </tr>
                </tbody>

            </table>

            <div class="p-20 clearfix" ng-if="single.length > 0">
                <div class="row m-b-40">
                    <div class="col-md-12">
                        <div class="well">
                            <form class="form-horizontal placeholder-form ng-pristine ng-valid">
                                <fieldset>
                                    <legend>{{single[0].name}}</legend>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-2 control-label">E-mail</label>
                                        <div class="col-lg-10 filled">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="inputEmail"
                                                    placeholder="Email"
                                                    ng-model="single[0].emal"
                                                    disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="textArea" class="col-lg-2 control-label">Proposta</label>
                                        <div class="col-lg-10 filled">
                                    <textarea
                                            class="form-control vertical"
                                            rows="3"
                                            id="textArea"
                                            ng-model="single[0].message"
                                            disabled></textarea>
                                        </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END PAGE CONTENT -->

        </div>
    </div>
</main>
