<div class="page-login" ng-controller="LoginCtrl">

    <div class="center">
        <div class="card bordered z-depth-2"  style="margin:0% auto; max-width:400px;">

            <div class="bs-component" ng-if="feedback">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Error</h4>
                    <strong>{{feedback.code}}</strong>
                </div>
            </div>

            <div class="card-header">
                <div class="brand-logo">
                    Oitavo Andar
                </div>
            </div>
            <div class="card-content">
                <div class="m-b-30">
                    <div class="card-title strong pink-text">Login</div>
                    <p class="card-title-desc">
                        Bem Vindo
                    </p>
                </div>
                <form class="form-floating"
                      name="loginForm"
                      ng-submit="doLogin(loginForm)">
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input type="email" class="form-control" ng-model="user.email" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label">Password</label>
                        <input type="password" ng-model="user.password" class="form-control" id="inputPassword" ng-required="true">
                    </div>

                    <div class="clearfix">
                        <div class="pull-right">
                            <button
                                    type="submit"
                                    ladda="isLoading"
                                    class="btn btn-primary">
                                <span ng-if="!isLoading">Entrar</span>
                                <span ng-if="isLoading">Carregando</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>