<main ng-controller="RegisterCtrl">
    <div ng-include src="'assets/tpl/partials/sidebar.html'"></div>
    <div class="main-container">
        <div class="main-content"
             style="padding-top: 0"
             autoscroll="true" bs-affix-target init-ripples>

            <!-- PAGE CONTENT -->

            <div class="p-20 clearfix">
                <h4 class="grey-text">
                    <i class="md md-dashboard"></i>
                    <span class="hidden-xs">Participar</span>
                </h4>
            </div>

            <div class="well white">
                <form class="form-floating"
                      ng-submit="send(registerForm)"
                      name="registerForm"
                      novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label for="inputName" class="control-label">Nome</label>
                            <input type="text" required class="form-control" ng-model="user.name" id="inputName">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="control-label">E-mail</label>
                            <input type="email" required class="form-control" ng-model="user.emal">
                        </div>

                        <div class="form-group">
                            <label for="textArea" class="control-label">Por que eu devo ganhar um novo layout?</label>
                            <textarea class="form-control vertical" rows="3" id="textArea"
                                      ng-model="user.message" required></textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" typeof="submit">Enviar</button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</main>
