<aside class="sidebar fixed">
  <div class="brand-logo">
    Promo 8 Andar
  </div>
  <ul class="menu-links" ng-cloak>
    <a menu-link href="#/dashboard" icon="md md-blur-on">Início</a>
    <a menu-link href="#/register" icon="md md-blur-on" style="display: none;">Participar</a>
  </ul>
</aside>
